{% extends "layouts/default.html" %}
{% block page_css %}
<link rel="stylesheet" type="text/css" href="/libs/select2/select2.css" />
<link rel="stylesheet" type="text/css" href="/libs/select2/select2-bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/css/admin.css" />
{% endblock %}
{% block title %}Game Tracker{% endblock %}
{% block content %}
{% endblock %}
{% block page_javascript %}
<script type="text/javascript">
    var companies = {{ companies|safe }};
    var genres = {{ genres|safe }};
    var systems = {{ systems|safe }};
</script>
<script type="text/javascript" src="/libs/select2/select2.min.js"></script>
<script type="text/javascript" src="/libs/mithriljs/mithril.min.js"></script>
<script type="text/javascript" src="/libs/lodash/lodash.min.js"></script>
<script type="text/javascript" src="/js/admin.js"></script>
{% endblock %}
