{% extends "layouts/default.html" %}
(% block page_css %}{% endblock %}
{% block title %} Login {% endblock %}
{% block content %}
{% if error %}
<div class="text-danger">
    {{ error }}
</div>
{% endif %}
<form action="/admin/verify" method="post">
    <input type="text" name="user" />
    <input type="password" name="password" />
    {{ captcha|safe }}
    <button class="btn btn-primary">Submit</button>
</form>
{% endblock %}
{% block page_javascript %}
{{ recaptcha_header_tag|safe }}
{% endblock %}
